{% load static %}

<!DOCTYPE html>
<html>
    <title> MoonriftEntertainment| Home</title>
    <meta name='MoonriftEntertainment' Contents='Gaming Company Visual studio Amazing'>
    <link rel='stylesheet' type='text/css' href='{% static "polls/style.css" %}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<head class='head'>
</head>
     <body class='body'>
        <header class='header'>
                <h2 class='h2'> Toy Kingdom </h2>
                <iframe class='iframe' title='iframe' src='https://www.youtube.com/embed/?v=Qs874BV3AiI&feature=youtu.be' width='1000px' height='600px'></iframe>
                <h2> Fast-paced, first-person survival game full of dangers, magic, and toys!</h2>
                <p> -In this land, you play as an action figure in a mysterious toy world</p>
                <ul class='ul'>
                    <li class='li'>Discover and collect all of the powerful protons if you wish to survive the night</li>
                    <li class='li'>Enter a colorful and deadly world with various environments</li>
                    <li class='li'>Unlock your full potential as you discover agility is your greatest ally</li>
                </ul>
                <button class='button'> 
                    <a href="Moonrift.itch.io/toy-kingdom" class="button glow-button">PLAY NOW !</a>
                </button>
                <br>
                
                <br>
                <h3 class='h3'>Features!</h3>
                <ul>
                    <li class='li'> Relentless exploration:</li>
                    <p>No instructions, no handholding. exploration is your best bet in surviving the night</p>
                    
                    <li class='li'> Randomly Generated Environments:</li>
                    <p>Each game you start will be different from the last. Your wits and luck will play key roles in how generous (or unforgiving) Toy Kingdom will be</p>
                    
                    <li class='li'>Speed is your friend:</li>
                    <p>How fast can you get?</p>

                    <li class='li'>Items will help aid in your survive:</li>
                    <p>Glowing object are usually good for you</p>
                    
                    <li class='li'>Outrun and outmaneuver the dangers:</li>
                    <p> Your wits will be tested</p>
                    
                    <li class='li'>Your home awaits:</li>
                    <p> From rags to riches ,so you begin at nothing</p>
                </ul>

        </header>
     </body>
 
        <footer class='footer'>
            <h3>Subscribe to see the process of the game! </h3>
            </a>
        </footer>
    </body>
</html>


{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polltaker:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>

{% else %}
    <p> no polls are available. </p>
{% endif %}